<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.cjc.dws.webApp.tests.UserHomePageTest"/>
      <class name="com.cjc.dws.webApp.tests.SignOnTest"/>
      <class name="com.cjc.dws.webApp.tests.RegistrationPageTest"/>
      <class name="com.cjc.dws.webApp.tests.HomePageTest"/>
      <class name="com.cjc.dws.webApp.tests.BookPageTest"/>
      <class name="com.cjc.dws.webApp.tests.CompleteOrderTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
